{% extends 'ClownPartyBundle::layout.html.twig' %}

{% block title %}<title>SO MANY CLOWNS</title>{% endblock %}

{% block contentBody %}
    <h1>Event edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock contentBody %}
