{% for entity in entities %}
                <div class="row propslist">
                    <div class="col-md-2-3">

                        {% if entity.isEvil %}
                            <div class='evil'>
                        {% endif %}
                        {% if entity.isExceptional %}
                            <div class='exceptional'>
                        {% endif %}
                        {{ entity.propType }}
                        {% if entity.isExceptional %}
                            </div>
                        {% endif %}
                        {% if entity.isEvil %}
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-md-1-3">
                        {{ entity.quality }}
                    </div>
                    </div>
{% endfor %}