{% extends 'ClownClownBundle::layout.html.twig' %}

{% block contentBody %}
    <h1>Prop creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('prop') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock contentBody %}
